*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}

img,
picture,
video,
canvas,
svg {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ol,
ul {
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
  border: none;
}

a,
button {
  cursor: pointer;
}

.visually-hidden {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  margin: -1px !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* *********************** */
/* VARIABLES */
/* *********************** */

:root {
  --Font-Family: "DM Sans", sans-serif;

  --Primary-Color: hsl(0, 0%, 0%);
  --Secondary-Color: hsl(0, 0%, 87%);
  --Tertiary-Color: hsl(0, 0%, 100%);

  --Primary-Accent: hsla(0, 0%, 0%, 0.1);
}

/* *********************** */
/* BODY */
/* *********************** */

body {
  font-family: var(--Font-Family);
  background: var(--Tertiary-Color);
}

/* *********************** */
/* MULTI STYLES */
/* *********************** */

.section__picture,
.section__picture img {
  width: 100%;
  height: 100%;
}

.section__picture img {
  object-fit: cover;
}

.section__heading {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.25;
  letter-spacing: 0.21rem;
  text-transform: uppercase;
}

@media (min-width: 46.88rem) {
  .section__heading {
    font-size: 2.5rem;
    line-height: 1.2;
    letter-spacing: 0.26rem;
  }
}

.subheading {
  font-size: 1.13rem;
  font-weight: 700;
  line-height: 1.39;
}

.section__text {
  font-size: 0.94rem;
  font-weight: 400;
  line-height: 1.67;
}

.link {
  display: flex;
  align-items: center;
}

.link__text {
  font-size: 0.75rem;
  font-weight: 700;
  letter-spacing: 0.13rem;
  text-transform: uppercase;
}

.color--white {
  color: var(--Tertiary-Color);
}

.color--black {
  color: var(--Primary-Color);
}

/* *********************** */
/* HEADER */
/* *********************** */

.header {
  width: 100%;

  top: 0;
  z-index: 999;
}

.header__content {
  max-width: 74.38rem;
  position: relative;
  z-index: 99;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  background: var(--Tertiary-Color);

  padding: 0.94rem 1.5rem 0.94rem 1.5rem;
  margin: 0 auto 0 auto;
}

.header__logo {
  width: 10.63rem;
  height: 1rem;
}

@media (min-width: 47.5em) {
  .header__content {
    flex-direction: row;
    gap: 1.81rem;

    padding: 0.94rem 2.5rem 0.94rem 2.44rem;
  }

  .header__logo {
    width: 15.63rem;
    height: 1rem;
  }
}

@media (min-width: 62.5em) {
  .header__content {
    gap: 0;
  }
}

/* *********************** */
/* NAV */
/* *********************** */

[aria-controls="header__nav-menu-list"] {
  all: unset;
  display: block;

  z-index: 7;

  padding: 0.63rem;

  cursor: pointer;
}

[aria-controls="header__nav-menu-list"] .header__nav-toggle-line {
  display: block;
  width: 1.75rem;
  height: 0.13rem;

  background: var(--Primary-Color);
  margin-block: 0.25rem;
  border-radius: 0.25rem;

  transition: transform 0.5s, opacity 0.25s;
}

[aria-controls="header__nav-menu-list"][aria-expanded="true"]
  .header__nav-toggle-line:nth-child(1) {
  transform: translateY(4px) rotate(45deg);
}

[aria-controls="header__nav-menu-list"][aria-expanded="true"]
  .header__nav-toggle-line:nth-child(2) {
  opacity: 0;
}

[aria-controls="header__nav-menu-list"][aria-expanded="true"]
  .header__nav-toggle-line:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

[aria-expanded="false"] + .header__nav-menu {
  transform: translateY(-100%);
  visibility: hidden;
}

.header__nav-menu {
  width: 100%;
  min-height: 15.81rem;

  position: absolute;
  top: 4.5rem;
  left: 0;
  bottom: 0;
  z-index: 4;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1.25rem;

  text-align: center;

  padding: 1.06rem 1.81rem 2rem 2rem;
  background: var(--Tertiary-Color);

  transition: transform 0.6s cubic-bezier(0.68, -0.55, 0.27, 1.55),
    visibility 0.3s linear;

  overflow: auto;
}

.header__nav-menu-list {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  border-bottom: solid 1px var(--Primary-Accent);
  padding-bottom: 1.25rem;
}

.header__nav-menu-link {
  text-align: center;
  font-size: 0.94rem;
  font-family: var(--Font-Family);
  font-weight: 700;
  letter-spacing: 0.16rem;
  text-transform: uppercase;
  color: var(--Primary-Color);
}

.button {
  width: 100%;
  text-align: center;
  font-size: 0.94rem;
  font-family: var(--Font-Family);
  font-weight: 700;
  letter-spacing: 0.16rem;
  text-transform: uppercase;
  color: var(--Tertiary-Color);

  background: var(--Primary-Color);
}

.header__nav-menu-btn {
  padding: 0.88rem 3.75rem;
}

.disable-scroll::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--Primary-Accent);
  z-index: 3;
}

.disable-scroll {
  overflow: hidden;
}

@media (min-width: 47.5em) {
  .header__nav {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  [aria-controls="header__nav-menu-list"] {
    all: unset;
    display: none;
    position: relative;
    z-index: 1;
  }

  [aria-expanded="false"] + .header__nav-menu {
    transform: none;
    visibility: visible;
  }

  .header__nav-menu {
    width: 100%;
    min-height: auto;

    position: initial;
    top: 0;
    right: 0;

    flex-direction: row;
    align-items: center;
    gap: 2.69rem;

    padding: 0;

    background: transparent;
  }

  .header__nav-menu-list {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2.25rem;

    border-bottom: none;

    padding-bottom: 0;
  }

  .header__nav-menu-link {
    font-size: 0.75rem;
    letter-spacing: 0.13rem;
  }

  .button {
    font-size: 0.75rem;
    letter-spacing: 0.13rem;
  }

  .header__nav-menu-btn {
    max-width: 9.94rem;

    padding: 0.75rem 1.5rem;
  }

  .disable-scroll::before {
    position: absolute;

    background-color: transparent;
  }

  .disable-scroll {
    overflow: auto;
  }
}

/* *********************** */
/* INTRO - SECTION */
/* *********************** */

.intro-section {
  display: grid;
  grid-template-areas:
    "picture"
    "content";
  background: var(--Primary-Color);
}

.intro-section__picture {
  grid-area: picture;
}

.intro-section__content {
  grid-area: content;
  padding: 4.5rem 1.5rem 4.25rem 2.06rem;
}

.intro-section__content-stories {
  padding: 3rem 1.75rem 3rem 1.81rem;
}

.intro-section__content-features,
.intro-section__content-pricing {
  padding: 4.5rem 1.75rem 4.5rem 1.81rem;
}

.intro-section__feature-text {
  color: var(--Tertiary-Color);
  font-size: 0.75rem;
  font-family: var(--Font-Family);
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.13rem;
  text-transform: uppercase;

  margin-bottom: 1rem;
}

.intro-section__heading {
  margin-bottom: 1rem;
}

.intro-section__info {
  display: flex;
  align-items: start;
  gap: 0.56rem;

  color: var(--Tertiary-Color);
  font-size: 0.81rem;
  font-weight: 400;

  margin-bottom: 1.5rem;
}

.intro-section__info-date {
  opacity: 0.75;
}

.intro-section__text {
  max-width: 36ch;

  color: hsla(0, 0%, 100%, 0.6);
}

.benefits-section__link {
  gap: 1.13rem;
}

.intro-section__link {
  margin-top: 1.5rem;
}

@media (min-width: 46.88rem) {
  .intro-section {
    grid-template-areas: "content picture";
    grid-template-columns: 30.94rem 1fr;
    align-items: center;
  }

  .intro-section__stories {
    position: relative;

    grid-template-areas: "picture";
    grid-template-columns: 1fr;
    align-items: center;
  }

  .intro-section__content {
    grid-area: content;
    padding: 4.63rem 3.38rem 4.5rem 3.38rem;
  }

  .intro-section__content-stories {
    max-width: 29.25rem;
    position: absolute;
    top: 52%;
    transform: translateY(-50%);

    padding: 2.44rem;
  }

  .intro-section__heading {
    font-size: 2.5rem;
    line-height: 1.2;
    letter-spacing: 0.26rem;

    margin-bottom: 1.31rem;
  }

  .intro-section__link {
    margin-top: 2.88rem;
  }
}

@media (min-width: 62.5em) {
  .intro-section {
    grid-template-columns: 38.13rem 1fr;
  }

  .intro-section__stories {
    position: relative;

    grid-template-areas: "picture";
    grid-template-columns: 1fr;
    align-items: center;
  }

  .intro-section__content {
    grid-area: content;
    padding: 4.57rem 3.38rem 4.5rem 7rem;
  }

  .intro-section__content-stories {
    max-width: 29.25rem;
    position: absolute;
    top: 52%;
    transform: translateY(-50%);
    left: 4.56rem;

    padding: 2.44rem 2.44rem 2.44rem 2.44rem;
  }

  .intro-section__text {
    max-width: 36ch;
  }
}

/* *********************** */
/* BENEFITS - SECTION */
/* *********************** */

.benefits-section__content {
  padding: 4.5rem 1.5rem 4.44rem 2.06rem;
}

.benefits-section__content--two {
  padding: 5.75rem 1.5rem 5.63rem 2.06rem;
}

.benefits-section__row {
  display: grid;
  grid-template-areas: "picture " "content";
}

.benefits-section__picture--reverse {
  grid-area: picture;
}

.benefits-section__heading {
  max-width: 12ch;

  margin-bottom: 1rem;
}

.benefits-section__text {
  margin-bottom: 1.38rem;
}

@media (min-width: 46.88em) {
  .benefits-section__row {
    grid-template-areas: "picture content ";
    align-items: center;
  }

  .benefits-section__row--reverse {
    grid-template-areas: "content picture";
  }

  .benefits-section__content {
    max-width: 30.94rem;

    padding: 1.25rem 1.5rem 4.44rem 3.38rem;
  }

  .benefits-section__heading {
    max-width: 12ch;

    margin-bottom: 1rem;
  }

  .benefits-section__text {
    margin-bottom: 1.38rem;
  }
}

@media (min-width: 62.5em) {
  .benefits-section__content {
    max-width: 38.13rem;

    padding: 1.25rem 1.5rem 4.44rem 7rem;
  }
}

/* *********************** */
/* STORIES - SECTION */
/* *********************** */

.stories-section {
  display: grid;
  grid-template-areas:
    "one"
    "two"
    "three"
    "four";
}

.stories-section__figure {
  position: relative;
}

.stories-section__figure--one {
  grid-area: one;
}

.stories-section__figure--two {
  grid-area: two;
}

.stories-section__figure--three {
  grid-area: three;
}

.stories-section__figure--four {
  grid-area: four;
}

.stories-section__picture {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.0001) 0.27%,
    rgba(0, 0, 0, 0.661222) 100%
  );
}

.stories-section__picture img {
  position: relative;
  z-index: -1;
}

.stories-section__figcaption {
  width: 100%;

  position: absolute;
  bottom: -1px;
  z-index: 1;

  padding: 1.19rem 1.94rem 2.56rem 2.06rem;
}

.stories-section__figcaption-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.25rem;

  color: var(--Tertiary-Color);

  margin-bottom: 1rem;
}

.figcaption__photographer {
  font-size: 0.81rem;
  font-family: var(--Font-Family);
  font-weight: 400;
}

.stories-section__figcaption hr {
  background: var(--Tertiary-Color);
  mix-blend-mode: normal;
  opacity: 0.25;

  margin-bottom: 1.25rem;
}

.figcaption__link {
  justify-content: space-between;
}

@media (min-width: 28.13rem) {
  .stories-section {
    display: grid;
    grid-template-areas:
      "one two"
      "three four";
  }
}

@media (min-width: 62.5rem) {
  .stories-section {
    display: grid;
    grid-template-areas: "one two three four";
  }

  .stories-section__figcaption {
    padding: 1.19rem 2.5rem 2.56rem 2.5rem;
  }
}

/* *********************** */
/* FEATURES - SECTION */
/* *********************** */

.features-section {
  max-width: 73.81rem;
  padding: 5rem 2rem 5rem 2.06rem;
  margin: 0 auto;
}

.features-section__list {
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 3.5rem;

  text-align: center;
}

.features-section__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.features-section__icon--one,
.features-section__icon--three {
  margin-bottom: 3rem;
}

.features-section__icon--two {
  margin-bottom: 4.13rem;
}

.features-section__content {
  max-width: 28.56rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.features-section__text {
  opacity: 0.6;
}

@media (min-width: 46.88em) {
  .features-section {
    padding: 7.5rem 2rem 7.5rem 2.06rem;
  }

  .features-section--custom {
    padding: 7rem 2.5rem 15.75rem 2.38rem;
  }

  .features-section__list--custom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
}

@media (min-width: 62.5em) {
  .features-section--custom {
    padding: 9.25rem 2.5rem 16.75rem 2.38rem;
  }

  .features-section__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    align-items: center;
    justify-content: center;

    gap: 1.88rem;
  }

  .features-section__item--two {
    margin-bottom: -1.13rem;
  }

  .features-section__item--three {
    margin-bottom: 1.56rem;
  }
}

/* *********************** */
/* CTA - SECTION */
/* *********************** */

.cta-section {
  background: url(../assets/shared/mobile/bg-beta.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  padding: 4rem 1.5rem 4rem 2.06rem;
}

.cta-section__content {
  max-width: 69.38rem;

  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.5rem;

  margin: auto;
}

.cta-section__link {
  gap: 1rem;
}

@media (min-width: 46.88em) {
  .cta-section {
    padding: 4.25rem 1.5rem 4.25rem 2.44rem;
  }

  .cta-section__content {
    display: flex;

    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    gap: 1.5rem;
  }

  .cta-section__heading {
    max-width: 15ch;
  }
}

/* *********************** */
/* FOOTER */
/* *********************** */

.footer {
  padding: 3.5rem 2.06rem;

  background: var(--Primary-Color);
}

.footer__content {
  max-width: 69rem;

  display: flex;
  flex-direction: column;

  margin: 0 auto;
}

.footer__content-container--one {
  display: grid;
  grid-template-areas:
    "footer__logo"
    "footer__social"
    "footer__nav";
}

.footer__logo {
  grid-area: footer__logo;

  display: grid;
  place-content: center;
}

.footer__logo img {
  filter: invert(100%);
  margin-bottom: 2rem;
}

.footer__social-list {
  grid-area: footer__social;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.81rem;

  margin-bottom: 3.13rem;
}

.footer__nav-list {
  grid-area: footer__nav;

  display: flex;
  flex-direction: column;
  gap: 1.19rem;

  text-align: center;

  margin-bottom: 7.56rem;
}

.footer__nav-list li {
  color: var(--Tertiary-Color);
  font-size: 0.75rem;
  font-family: var(--Font-Family);
  font-weight: 700;
  letter-spacing: 0.13rem;
  text-transform: uppercase;
}

.footer__content-container--two {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2.13rem;
}

.footer__link {
  justify-content: center;
  gap: 1.38rem;
}

.footer__copyright {
  color: hsla(0, 0%, 100%, 0.5);
  text-align: center;
  font-size: 0.94rem;
  font-family: var(--Font-Family);
  font-weight: 400;
}

@media (min-width: 46.88rem) {
  .footer {
    padding: 4rem 2.5rem;
  }

  .footer__content {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer__content-container--one {
    display: grid;
    grid-template-areas:
      "footer__logo"
      "footer__nav"
      "footer__social";
  }

  .footer__logo {
    place-content: start;
  }

  .footer__social-list {
    justify-content: start;
    gap: 0.81rem;

    margin-bottom: 0;
  }

  .footer__nav-list {
    flex-direction: row;
    gap: 1.19rem;

    margin-bottom: 4.5rem;
  }
}

@media (min-width: 62.5rem) {
  .footer__content-container--one {
    display: grid;

    grid-template-areas:
      "footer__logo footer__nav"
      "footer__social footer__nav";

    column-gap: 6.81rem;
  }

  .footer__nav-list {
    flex-direction: column;
    gap: 1.06rem;

    text-align: start;

    margin-bottom: 0;
  }

  .footer__link {
    justify-content: end;
  }
}
